@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'rajdhani';
    src: url(../police/Rajdhani-Medium.ttf);
}


:root{
    --yellow-color: #FFFF00;
    --yellow-light: #f8f184;
    --bleu-color: #19587d;
    --white-color: #ffffff;
    --gradient-White: #eddebf67;
    --gradient-red: #890008;
    --black-color: #000;
    --grey-color: #C4C4C4;
    --gradient-white: #bdb8af38;
    --gradient-grey: #19587d70;
    --color-g: #BCBBBD;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'rajdhani';
    font-size: 36px;
    font-weight: 400;
}
button{
    font-family: 'rajdhani';
    font-size: 20px;
    font-weight: 400;
}

.container{
    width: 80%;
    margin: 0 auto;
}
body{
    background-color: black;
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 300;
    background-image: url(../Illustrations/Bathome12.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: 887px 2850px;
  
}



.up-bar{
    border-top: #BCBBBD 1px solid;
    position: relative;
    top: 132px;
    width: 87%;
    left: 102px;

}

.left-bar{
    background-color: #BCBBBD 1px solid;
    height: 8300px;
    left: 87%;
    top: 0px;
    border-left: 1px solid #BCBBBD;
    position: absolute;
    margin-left: 102px
}

.right-bar{
    background-color: #BCBBBD 1px solid;
    height: 8300px;
    right: 85%;
    top: 0px;
    border-left: 1px solid #BCBBBD;
    position: absolute;
    margin-right: 102px
}

/*Design de la navigation*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
}

ul{
    list-style: none;
}

nav ul a{
    color:var(--white-color) ;
    font-size: 25px;
    font-weight: 600;
    font-family: 'rajdhani';
    /*text-decoration: none; */
}
.logo:hover{
    -webkit-filter:invert(4%) sepia(100%) saturate(1498%) hue-rotate(355deg) brightness(109%) contrast(103%) ;
    filter: invert(4%) sepia(100%) saturate(1498%) hue-rotate(355deg) brightness(109%) contrast(103%);
}
.logo-f:hover{
    -webkit-filter:invert(4%) sepia(100%) saturate(1498%) hue-rotate(355deg) brightness(109%) contrast(103%) ;
    filter: invert(4%) sepia(100%) saturate(1498%) hue-rotate(355deg) brightness(109%) contrast(103%);
}
.social:hover{
    -webkit-filter:invert(4%) sepia(100%) saturate(1498%) hue-rotate(355deg) brightness(109%) contrast(103%) ;
    filter: invert(4%) sepia(100%) saturate(1498%) hue-rotate(355deg) brightness(109%) contrast(103%);
}
.image-container:hover{
    transform: scale(1.1);
}


nav ul a:hover{
     color: var(--yellow-color);
}


/*Design de la partie en tête Hero */

#hero{
    background-image: url(../Illustrations/Bathome1.png);
    height: 850px;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 380px;
}

#hero .titre{
    margin: 40px;
}
#hero .texte{
    text-align: center;
    width: 85%;
    margin: 0 auto;
    font-size: 20px;
}

.btn{
    text-decoration: none;
    color: var(--white-color);
    font-size: 18px;
    padding: 15px 30px;
    margin: 20px;
    margin-top: 10px;
    opacity: 40%;
    background: linear-gradient(
        10deg,var(--white-color), var(--gradient-red)

    );
    box-shadow: var(--black-color) 15px 15px 50px;
}
.btn:hover{
    text-decoration: underline;
    font-weight: bold;
    opacity: 100%;
}
#hero .flèche{
    display: block;
    margin: 0 auto;
    margin-top: 250px;
}

.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 20px;
    top: 200px;

}

.scroll .social{
    margin-top: 30px;
    cursor: pointer;

}


/*Design de la partie batman personnage */

#Batman-cinéma{
    margin-top: 70px;
}

.batman-personnage{
    display: flex;
    justify-content: space-between;

}

.image-container{
    display: inline-block;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;
}


#Batman-cinéma .titre{
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0;
    padding-top: 70px;
}

#Batman-cinéma .description{
    margin-bottom: 70px;
    text-align: justify;
    width: 80%;
    font-size: 20px;
    
}
#Batman-cinéma .personnage-info{
    text-align: center;
    padding: 20px;

}

/*Design de la partie némésis */

#Némésis{
    margin-top: 70px;
}

.némésis-personnage{
    display: flex;
    justify-content: space-between;
}

.image-container{
    display: inline-block;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;
}

#némésis .titre{
    background-image:url(../Illustrations/Bathome13.png) ;
    background-size: 75%;
    background-position: top right;
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-weight: bold;
    margin: 35px 0;
    padding-top: 90px;
    width: 22%;
}


#némésis .description{
    margin-bottom: 70px;
    text-align: justify;
    width: 80%;
    font-size: 20px;
    
}
#némésis .personnage-info{
    text-align: center;
    padding: 20px;

}

/*Design de la partie alliés*/

#Alliés{
    margin-top: 70px;
}

.alliés-personnage{
    display: flex;
    justify-content: space-between;
}

.image-container{
    display: inline-block;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;
}

#alliés .titre{
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0;
    padding-top: 120px;
}

#alliés .description{
    margin-bottom: 70px;
    text-align: justify;
    width: 80%;
    font-size: 20px;

}

#alliés .personnage-info{
    text-align: center;
    padding: 20px;
}


/*Design justice league*/

#batman-justice-league{
    margin-top: 90px;
}

#batman-justice-league .titre{
    text-transform: uppercase;
    font-weight: bold;
    padding: -20px;
    margin: 65px; 
}

#batman-justice-league .description{
    margin-bottom: 70px;
    text-align: justify;
    width: 80%;
    font-size: 20px;
    margin: 70px;
    padding-top: 0 auto;
    
}

.justice-league{
    position: absolute;
}

/*Design de la partie multimédia */
#multimédia .titre{
    padding-top: 70px;
}

#multimédia{
    padding-top: 15cm;
}


#multimédia button{
    position: relative;
    background: none;
    border: none;
    top: 160px
}

#multimédia button.right{
    right: -85%;
}

#multimédia .slider-multimédia{
    display: flex;
    width: 60%;
    margin: 10px auto;
    padding: 30px;
    font-family: 'Space Grotesk';
    
}
#multimédia .slider-image{
    width: 100%;

}
#multimédia .slider-content{
    padding: 15px;
    background: linear-gradient(
         var(--gradient-white), var(--gradient-grey)
    );
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
   
}

#multimédia p{
    font-size: 13px;
}

#multimédia .yellow{
    color: var(--yellow-color);
}

#multimédia .image-bande-annonce{
    padding: 90px 0;
}

/*Design de la contact - formulaire */

#contact{
    background: linear-gradient(
         var(--gradient-white), var(--gradient-grey)
    );
    padding: 70px 0; 

}
#contact .form{
    width: 50%;
    margin: 0 auto;
}

#contact h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 65px;
    padding-top: 5px;

}

#contact .titre{
    display: block;
    margin: 25px 0;
    padding-top: 20px;
}

#contact .form input[type='email'], textarea{
    display: block;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    border-bottom: 2px solid rgb(206, 190, 190);
    background-color: transparent;
    padding: 5px 0;
    margin: 20px 0;
}

#contact .form input[type='news'], textarea{
    display: block;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    border-bottom: 2px solid rgb(206, 190, 190);
    background-color: transparent;
    padding: 5px 0;
    margin: -25px 0;
    padding-top: 50px;
}

#contact .news{
    margin: 20px 0;
    border-bottom: 2px solid rgb(206, 190, 190);
    width: 100%;

}

#contact .icon img{
    transform: rotate(90deg);
    width: 15px;
    cursor: pointer;
    position: relative;
    background: none;
    right: -95%;
    
}

#menu{
    display: none;
}


.icon:hover .menu{
    display: block;
    position: relative;
    transition: all 0.3s ease;
    visibility: visible;
    opacity: 1;
}

.menu{
    display: flex;
    position: absolute;
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;

}


.menu li{
    border-bottom: 1px solid;
    background: linear-gradient(
         var(--gradient-white), var(--gradient-grey)
    );
    padding-bottom: 10px;
    padding: 1em 1em;
    cursor: pointer;
    display: block;

}


::placeholder{
    color: #ffffff;
}
.btn-group{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}


.form input[type='radio']{
    opacity: 0;
}

.btn-group label{
    cursor: pointer;
    border: 2px solid;
    padding: 5px;
    border-image: linear-gradient(
        69deg, var(--gradient-white),var(--gradient-grey)
    ) 1;
    font-size: 12px;
    opacity: 40%;
    
}

.btn-group label:hover{
    opacity: 100%;
}

.pop a{
    display: block;
    width: 230px;
    margin: 70px auto;
    padding: 15px 0;
    cursor: pointer;
    color: var(--gradient-White);
    background: linear-gradient(
        50deg,var(--white-color), var(--gradient-red)
    );
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

#submit:target{
    visibility: visible;
    opacity: 1;
}

#submit{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: linear-gradient(
         var(--gradient-white), var(--gradient-grey)
    );
    
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 20vh;
    width: 600px;
    max-width: 100%;
    border-radius: 4px;
    position: relative;
    top: -400px;
    visibility: hidden;
    opacity: 0;
    
    
}

.submit_close{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #BCBBBD;
    text-decoration: none;
}

input[type="submit"]:hover {
    background: linear-gradient(
        10deg,var(--white-color), var(--gradient-red)

    );
}
  


/*Design citations*/

#citations{
    margin: 90px;
}

#citations .citation-carte{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#citations .citation-auteur{
    padding-top: 30px;
    font-size: 12px;
    font-family: 'radjahni';
}

#citations .guillemet-close{
    float: right;
}

/*Design du footer*/
footer{
    margin-top: 250px;
}
footer .text-footer{
    text-align: center;
    font-size: 10px;
}
footer .social-footer{
    text-align: center;
    margin: 30px 0;
}
footer .social-item{
    padding: 15px;
}