@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'rajdhani';
    src: url(../police/Rajdhani-Medium.ttf);
}


:root{
    --yellow-color: #FFFF00;
    --yellow-light: #f8f184;
    --bleu-color: #19587d;
    --white-color: #ffffff;
    --gradient-White: #eddebf67;
    --gradient-red: #89000978;
    --black-color: #000;
    --grey-color: #C4C4C4;
    --gradient-white: #eddebf38;
    --gradient-grey: #19587d70;
    --color-g: #BCBBBD;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'rajdhani';
    font-size: 36px;
    font-weight: 400;
}
button{
    font-family: 'rajdhani';
    font-size: 20px;
    font-weight: 400;
}

.container{
    width: 80%;
    margin: 0 auto;
}
body{
    background-color: black;
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 300;
}

.up-bar{
    border-top: #BCBBBD 1px solid;
    position: relative;
    top: 132px;
    width: 85%;
    left: 102px;
}

/*Design de la navigation*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
}

ul{
    list-style: none;
}

nav ul a{
    color:var(--white-color) ;
    font-size: 25px;
    font-weight: 600;
    font-family: 'rajdhani';
    /*text-decoration: none; */
}
.logo:hover{
    -webkit-filter:invert(4%) sepia(100%) saturate(1498%) hue-rotate(355deg) brightness(109%) contrast(103%) ;
    filter: invert(4%) sepia(100%) saturate(1498%) hue-rotate(355deg) brightness(109%) contrast(103%);
}
.logo-f:hover{
    -webkit-filter:invert(4%) sepia(100%) saturate(1498%) hue-rotate(355deg) brightness(109%) contrast(103%) ;
    filter: invert(4%) sepia(100%) saturate(1498%) hue-rotate(355deg) brightness(109%) contrast(103%);
}
.social:hover{
    -webkit-filter:invert(4%) sepia(100%) saturate(1498%) hue-rotate(355deg) brightness(109%) contrast(103%) ;
    filter: invert(4%) sepia(100%) saturate(1498%) hue-rotate(355deg) brightness(109%) contrast(103%);
}


nav ul a:hover{
     color: var(--yellow-color);
}

/*Design de la partie en tête Hero */

#hero{
    background-image: url(../Illustrations/Bathome1.png);
    height: 850px;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 380px;
}

#hero .titre{
    margin: 40px;
}
#hero .texte{
    text-align: center;
    width: 85%;
    margin: 0 auto;
    font-size: 20px;
}

.btn{
    text-decoration: none;
    color: var(--white-color);
    font-size: 18px;
    padding: 15px 30px;
    margin: 20px;
    margin-top: 10px;
    background: linear-gradient(
        80deg,var(--gradient-white), var(--gradient-red)

    );
    box-shadow: var(--black-color) 15px 15px 50px;
}

#hero .flèche{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 50px;
    top: 200px;

}

.scroll .social{
    margin-top: 30px;

}

/*Design de la partie batman personnage */

#Batman-cinéma{
    margin-top: 70px;
}

.batman-personnage{
    display: flex;
    justify-content: space-between;
}

#Batman-cinéma .titre{
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0;
    padding-top: 70px;
}

#Batman-cinéma .description{
    margin-bottom: 70px;
    text-align: justify;
    width: 80%;
    font-size: 20px;
    
}
#Batman-cinéma .personnage-info{
    text-align: center;

}

/*Design de la partie némésis */

#Némésis{
    margin-top: 70px;
}

.némésis-personnage{
    display: flex;
    justify-content: space-between;
}

#némésis .titre{
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0;
    padding-top: 70px;
}

#némésis .description{
    margin-bottom: 70px;
    text-align: justify;
    width: 80%;
    font-size: 20px;
    
}
#némésis .personnage-info{
    text-align: center;

}

/*Design de la partie alliés*/

#Alliés{
    margin-top: 90px;
}

.alliés-personnage{
    display: flex;
    justify-content: space-between;
}

#alliés .titre{
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0;
    padding-top: 200px;
}

#alliés .description{
    margin-bottom: 70px;
    text-align: justify;
    width: 80%;
    font-size: 20px;
    
}
#alliés .personnage-info{
    text-align: center;
}

#alliés .logo-12{
    position: absolute;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 35%;
    height: auto;
    float: right;
    background-position: right; 
}
.container{
    position: relative;
    height: 100%;
}


/*Design justice league*/

#batman-justice-league{
    margin-top: 70px;
}

#batman-justice-league .titre{
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 60px;
    margin: 70px; 
}

#batman-justice-league .description{
    margin-bottom: 70px;
    text-align: justify;
    width: 80%;
    font-size: 20px;
    margin: 70px;
    padding-top: 0 auto;
    
}

/*Design de la partie multimédia */
#multimédia .titre{
    padding-top: 70px;
}


#multimédia button{
    position: relative;
    background: none;
    border: none;
    top: 160px
}

#multimédia button.right{
    right: -85%;
}

#multimédia .slider-multimédia{
    display: flex;
    width: 60%;
    margin: 10px auto;
    padding: 30px;
    font-family: 'Space Grotesk';
    
}
#multimédia .slider-image{
    width: 100%;

}
#multimédia .slider-content{
    padding: 15px;
    background: linear-gradient(
         var(--gradient-white), var(--gradient-grey)
    );
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
   
}

#multimédia p{
    font-size: 13px;
}

#multimédia .yellow{
    color: var(--yellow-color);
}

/*Design de la contact - formulaire */

#contact{
    background: linear-gradient(
         var(--gradient-white), var(--gradient-grey)
    );
    padding: 70px 0;

}
#contact .form{
    width: 50%;
    margin: 0 auto;
}

#contact h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 65px;

}

#contact .titre{
    display: block;
    margin: 25px 0;
}

#contact .form input[type='email'], textarea{
    display: block;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 80%;
    border-bottom: 2px solid rgb(206, 190, 190);
    background-color: transparent;
    padding: 5px 0;
    margin: 20px 0;
}

#contact .news{
    margin: 20px 0;
    border-bottom: 2px solid rgb(206, 190, 190);
}

#contact .icon img{
    transform: rotate(90deg);
    width: 12px;
    cursor: pointer;
}
::placeholder{
    color: #ffffff;
}
.btn-group{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.form input[type='radio']{
    opacity: 0;
}

.btn-group label{
    cursor: pointer;
    border: 2px solid;
    padding: 5px;
    border-image: linear-gradient(
        69deg, var(--gradient-white),var(--gradient-grey)
    ) 1;
    font-size: 12px;
    
}
    


input[type='submit']{
    display: block;
    width: 230px;
    margin: 35px auto;
    padding: 15px 0;
    cursor: pointer;
}

#popupbox{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #BCBBBD;
    padding: 20px;
    border-radius: 5px;
}

#citations{
    margin: 90px;
}

#citations .citation-carte{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#citations .citation-auteur{
    padding-top: 30px;
    font-size: 12px;
    font-family: 'radjahni';
}

#citations .guillemet-close{
    float: right;
}

/*Design du footer*/
footer{
    margin-top: 250px;
}
footer .text-footer{
    text-align: center;
    font-size: 10px;
}
footer .social-footer{
    text-align: center;
    margin: 30px 0;
}
footer .social-item{
    padding: 15px;
}